/***** Impostazioni stile CSS generali per stampa *****/
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{}

/***** Impostazioni stile CSS per aiuto alla navigazione *****/
.help{
	position:absolute;
	height:0;
	overflow:hidden;
}

/***** Impostazioni stile CSS dell'header *****/
/** Stile logo del sito **/
#logo img{
	display: none;
}
/** Stile del titolo **/
@font-face {
    font-family: "FontTitoloSito";
    src: url("../fonts/neonfont/NEON CLUB MUSIC.otf") format("opentype");
}
#title h1{
    font-family: "FontTitoloSito", Verdana, Tahoma;
    color: #000000;
	font-size: 32pt;
	font-weight: bold;
	font-variant: small-caps;
	font-style: oblique;
	margin-left: 0.5em; 
	margin-top: 0.5em;
}
#title h2{
	font-family: Georgia, serif;
	font-size: 14pt;
	margin-top: 0.5em;
	margin-left: 2.7em;
}


/***** Impostazioni stile CSS per elementi non utili ai fini della stampa *****/
#nav, #search, #nav_pagine, #nav_help, #sidebar{	
	display: none;
}


/***** Impostazioni stile CSS per il contenuto delle pagine ****/
#contents, #contents_home{
	margin-top: 3em;
}
#contents h1, #contents_home h1{
	font-variant: small-caps;
	font-size: 1.3em;
	text-align: center;
}
/** Stile contenuto article **/
.article:nth-child(odd){
	float: left;
	margin: 1% 0 2% 4%;
}
.article:nth-child(even){
	float: right;
	margin: 1% 4% 2% 0;
}
.article{
	width: 40%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 5px 3px #303030;
	-moz-box-shadow: 0px 0px 5px 3px #303030;
	-webkit-box-shadow: 0px 0px 5px 3px #303030;
	padding: 1%;
}
.article h2 a{
	color: #000000;
	text-decoration: none;
}
.author{
	float: right;
	font-size: 0.8em;
	font-style: italic;
}
/** Stile visualizzazione dei tags **/
.tags{
	display: block;
	list-style: none;
	margin: 1% auto;
}
ul.tags {
	margin-top:0px;
}
.tags li, .tags a{
	float: right;
	position: relative;
	height: 24px;
	line-height:24px;
	font-size: 0.9em;
}
.tags a{
	margin-left: 24px;
	padding: 0 10px 0 12px;
	background: #33CCFF;
	color: #000000;
	font-variant: small-caps;
	text-decoration: underline;
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px;	
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;	
	border-top-right-radius: 4px;	
}
.tags a:before{
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #33CCFF transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;		
}
.tags a:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #FFFFFF;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;
}
.tags a:hover{
	background: #555555;
	color: #FFFFFF;
}	
.tags a:hover:before{
	border-color:transparent #555555 transparent transparent;
}
/** Stile immagini degli article **/
.article img{
	width: 100%;
	padding: 1% 0;
}
/** Stile visualizzazione article intero **/
.article_box{
	width: 80%;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px;
    -moz-box-shadow: 0px 0px 5px 3px;
    -webkit-box-shadow: 0px 0px 5px 3px;
    padding: 1%;
    margin: 5% auto;
}
.ribbon{
    float: left;
    margin: -1.5%;
    padding: 0;
    background-repeat: no-repeat;
    height: 90px;
    width: 119px;
}
.eventRibbon{
    background-image: url('../public_html/css/img/ribbonsEventiMini.png');
}
.newsRibbon{
    background-image: url('../public_html/css/img/ribbonsNewsMini.png');
} 
.intervisteRibbon{
    background-image: url('../public_html/css/img/ribbonsIntervisteMini.png');
}
.RecensioniRibbon{
    background-image: url('../public_html/css/img/ribbonsRecensioniMini.png');
}
.article_img{
    width: 100%;
    margin-top: 5px;
}
.article_box h1:first-of-type{
	text-align: left !important;
    font-size: 1.8em !important;
    font-weight: bold;
}
.article_box h2:first-of-type{
	text-align: center !important;
    font-size: 0.9em !important;
    color: #1C1C1C;
}
#descrizione{
    width: 80%;
    margin: 2em auto;
}
#title a{
	color: #FFFFFF;
	text-decoration: none;
}
#interlocutore{
	margin-top: 1em;
}
#galleryLink{
	display: block;
	background-repeat: no-repeat;
	height: 150px;
	background-image: url('img/ios-camera-icon-reflected.png');
	margin: 1em auto;
	width: 20%;
}
#galleryLink p:first-of-type{
	float: right;
	margin: 1em auto;
	font-weight: bold;
	text-decoration: underline;
	color: white;
	font-variant: small-caps;
	background-color: black;
	padding: 0.3em 2em;;
}
#informazioni ul{
	width: 80%;
	margin: 1em auto;
	text-align: left;
	list-style-type: none;
}
/** Stile per contenuto pagine statiche **/
#static_cont p{
	margin-top: 1em;
	font-size: 1.2em;
	padding: 0.5em 1em;
}
.static_list{
	padding-top: 1em;
	padding-bottom: 0.5em;
	margin-bottom: 5em; 
}
.static_list ul{
	font-size: 1.2em;
	padding-top: 1em;
	padding-left: 2em;
}
 

/***** Impostazioni stile CSS per la visualizzazione del contenuto evento *****/
.evento{
	width: 90%;
    list-style-type: none;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px #303030;
	-moz-box-shadow: 0px 0px 5px 3px #303030;
	-webkit-box-shadow: 0px 0px 5px 3px #303030;
    padding: 1%;
    margin: 2% auto 4% auto;
}
.Intestazione{
    float: left;
    width: 8%;
    text-align: center;
    background-color: #550000;
    color: #FFFFFF;
    margin-right: 0.4%;
}
.Intestazione .giorno{
    display: block;
    font-size: 3em;
    line-height: 0.9em;
}
.Intestazione .mese{
    display: block;
    font-size: 1.2em;
    line-height: 0.9em;
}
.Intestazione .anno{
    display: block;
    font-size: 1.2em;
    line-height: 1.8em;
}
.copertina{
	width: 90%;
  	height: 300px;
  	overflow: hidden;
}
.copertina img{
    width: 100%;
    height: auto; 
}
.copertina h2{
	position: relative;
	display: inline;
	top: 65%;
	left: 10%;
	width: auto;
	font-size: 2.0em;
	font-variant: small-caps;
	background-color: #000000;
	border: 1px solid #45484D; 
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;     
    box-sizing: border-box;         
    padding: 1% 3%;
}
.copertina h2 a{
	color: #FFFFFF;
	text-decoration: none;
}
.dettagli p.description{
	margin-top: 0.5%;
}
.info span{
    font-weight: bold;
}


/***** Impostazioni stile CSS per il piede *****/
#footer{
	clear: both;
	text-align: center;
	padding: 1%;
}
#footer a{
	color: #33CCFF;
}
#footer img{
	float: left;
	border: 0;
	width: 5%;
}


/***** Impostazioni stile CSS per visualizzazione della parte ADMIN *****/
.common_box{
    width: 60%;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px;
    padding: 1%;
    margin: 5% auto;
}
.common_box label{
	display: block;
    font-size: 1.8em;
    font-weight: bold;
}
.common_box input[type="text"], .common_box input[type="password"], .common_box input[type="file"], .common_box textarea{
    display: block;
    width: 50%;
    border: 2px solid;  
    box-shadow: 0px 0px 2px 2px;
    line-height: 1em;
    font-size: 2em;
    text-align: center;
    margin: 3% auto;
}
.common_box input[type="file"]{
    font-size: 1.3em;
}
.common_box input[type="submit"]{
    line-height: 1em;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 2px 2px;
    padding: 0.3em 0.8em;
    margin: 10% auto;
}
.common_box p, .common_box a{
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    margin: 2% auto;
}
.common_box fieldset{
    border: 0;
}
.common_box a{
    color: #00F;
}
.common_box a:hover{
    text-decoration: underline;
}


/***** Impostazioni stile CSS per galleria immagini *****/
#gallery{
	position: relative;
	margin: 1% 3% 0 3%;
	height: 35em;
	overflow: hidden;
	background-color: #E6E6E6;
	border-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #33CCFF;
}
#gallery ul{
	margin-top: 5em;
	padding: 0;
	list-style-type: none;
}
.active{
    display: block;
	text-align: center;
}
.hidden{
    display: none;
}
.slide{
    z-index: -1;
    width: 42em;
}
#prev{
	position: absolute;/*assumo che non ci siano elementi con position!=static*/
	top: 50%;
	left: 0px;
	width: 3.2em;
	height: 3.2em;
	background-image: url('../javascript/img/arrow-left.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.6;
}
#next{
	position: absolute;/*assumo che non ci siano elementi con position!=static*/
	top: 50%;
	right: 0px;
	width: 3.2em;
	height: 3.2em;
	background-image: url('../javascript/img/arrow-right.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.6;
}
.galleryButton{
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#controlnav{
	list-style-type: none;
	padding-left: 3%;
}
.activenav img{
	border: 5px solid #33CCFF;
	padding: 0;
}
.tnail{
	float: left;
	width: 10%;
	max-height: 80px;
	overflow:hidden;
	padding: .3em .3em;
	padding-top: 0;
	cursor: pointer;
}






