*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #999966;
}

.help{
	position:absolute;
	height:0;
	overflow:hidden;
}

#logo img{
	float: left;
	height: 40%;
	width:  40%;
}

#header{
	font-family: "Courier New", Courier, monospace
	text-align: center;
	color: #FFFF00;
}

#search{
	float: right;
}
#nav{
	clear: both;
	
}
#nav ul{
	list-style-type: none;
	list-style-position: inherit;
	text-align: center;
}
#nav li{
	display: inline;
}

#contents{
	clear: both;
	width: 80%;
	float: left;
	background-color: #6699FF;
}
.article{
	float: right;
}

.article img{
	float: left;
	height: 18em;
	width: 18em;
}

#sidebar{
	width: 10%;
	float: right;
	padding: 0% 5% 0%;
	background-color: #6699FF;

}

#footer{
	clear: both;
}