*{
	margin: 0em;
	padding: 0em;
	border: 0em;
}

body{
	background-color: #FF8533;
}

.help{
	display:none;
}

#logo img{
	float: left;
	height: 200px;
	width:  200px;
}
#header{
	float: center;
}
#search{
	float: right;
}
#nav{
	clear: both;
	
}
#nav ul{
	list-style-type: none;
	list-style-position: inherit;
	text-align: center;
}
#nav li{
	display: inline;
}

#contents{
	clear: both;
	width: 80%;
	float: left;
	background-color: #6699FF;
}
.article{
	float: right;
}

.article img{
	float: left;
	height: 18em;
	width: 18em;
}

#sidebar{
	width: 10%;
	float: right;
	padding: 0% 5% 0%;
	background-color: #6699FF;

}

#footer{
	clear: both;
}