/***** Impostazioni di stile CSS generali *****/
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(135deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/***** Stile per aiuto alla navigazione *****/
.help{
	position:absolute;
	height:0;
	overflow:hidden;
}


/***** Impostazioni stile dell'header : logo del sito e titolo *****/
#header{
	background-color: #000000;
	color: #FFFFFF;
}

/***** Dimensionamento e posizionamento logo del sito *****/
#logo img{
	float: left;
	width: 8%;
	min-width: 80px;
}

/***** Dimensionamento e posizionamento titolo del sito *****/
#title{
	display: inline-block;
}

@font-face {
    font-family: "FontTitoloSito";
    src: url("../fonts/neonfont/NEON CLUB MUSIC.otf") format("opentype");
}

#title h1{
    font-family: "FontTitoloSito", Verdana, Tahoma;
	font-size: 3em;
	font-weight: bold;
	font-variant: small-caps;
	font-style: oblique;
	padding-top: 1%;
	padding-left: 10%;
}
#title h2{
	font-family: Georgia, serif;
	font-size: 1.0em;
	padding-top: 1%;
	padding-left: 25%;
}


/***** Impostazioni menù di navigazione *****/
#nav{	
	display: inline-block;
	width: 100%;
	background-color: #45484D;
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #33CCFF;
}
#nav ul{
	float: left;
	width: 60%;
	list-style-type: none;
	padding-left: 8%;
}
#nav ul li{
	display: inline-block;
	font-variant: small-caps;
	text-align: center;
	font-size: 1.4em;
}
#current_nav{
	background-color: #33CCFF;
	color: #000000;
	padding: 0.5% 0.5%;
}
#nav ul li{
	color: #FFFFFF;
	margin: 0 1%;
}
#nav ul li:hover{
	background-color: #FFFFFF;
	color: #000000;
}
#nav ul li a{
	display: block;
	color: #FFFFFF;
}
#nav ul li a:hover{
	background-color: #FFFFFF;
	color: #000000;
}

/***** Impostazioni menù di navigazione mobile *****/
@media only screen and (max-width: 959px){
#nav{
	border-bottom-style: none;
}	
#nav ul{
    width: 100%;
    padding-left: 0;
}
#nav ul li{
    display: block;
    width: 80%;
    margin: 0.5em auto;
}
} /* Fine media query */


/***** Impostaioni barra search *****/
#search{
	float: right;
	padding-top: 0.3%;
}
#text_field
{
	width: 70%;
	background-color: #FFFFFF;
	font-size: 1.2em;
	padding: 0.4%;
}
#button{
	font-size: 1.2em;
	padding: 0.5%;
}

/***** Impostazioni barra search mobile *****/
@media only screen and (max-width: 959px){
#search{
	vertical-align: middle;
	margin: 1% 35%;
}
} /* Fine media query */ 


/***** Impostazioni visualizzazione contenuti *****/
#contents_home{
	float: left;
	width: 80%;
}
#contents h1, #contents_home h1{
	font-size: 1.0em;
	text-align: center;
	padding-top: 0.5%;
}

/***** Impostazioni di visualizzazione degli articoli *****/
.article:nth-child(odd){
	float: left;
	clear: left;
	margin: 1% 0 2% 4%;
}
.article:nth-child(even){
	float: right;
	margin: 1% 4% 2% 0;
}
.article{
	height: 40%;
	width: 40%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 0px 5px 3px;
	padding: 1%;
}
.article h2 a{
	color: #000000;
	text-decoration: none;
}
.article h2 a:hover{
	text-decoration: underline;
}
.author{
	float: right;
	font-size: 0.8em;
	font-style: italic;
}

/***** Impostazioni visualizzazione tags *****/
.tags{
	list-style: none;
	margin: 1% auto;
}
.tags li, .tags a{
	float: right;
	position: relative;
	height: 24px;
	line-height:24px;
	font-size: 1.0em;
}
.tags a{
	margin-left: 24px;
	padding: 0 10px 0 12px;
	background: #33CCFF;
	color: #000000;
	font-variant: small-caps;
	text-decoration: none;
	-moz-border-radius-bottomright: 4px; 
	-webkit-border-bottom-right-radius: 4px;	
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;	
	border-top-right-radius: 4px;	
}
.tags a:before{
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #33CCFF transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;		
}
.tags a:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #FFFFFF;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;
}
.tags a:hover{
	background: #555555;
	color: #FFFFFF;
}	
.tags a:hover:before{
	border-color:transparent #555555 transparent transparent;
}

/***** Impostazioni visualizzazione immagine articolo *****/ 
.article img{
	width: 100%;
	padding: 1% 0;
}

/***** Impostazioni scorrimento tra pagine *****/
#nav_pagine{
	clear: both;
	text-align: center;
	padding: 1% 0;
}
#nav_pagine a{
	color: #0000FF;
	padding-right: 0.3%;
	padding-left: 0.3%;
}

/***** Impostazioni contenuto per mobile *****/
@media only screen and (max-width: 959px){
#contents_home{
    width:100%;
}
.article{
    float: none;
    display: block;
    width: 90%;
    margin: 1em auto;
}
} /* Fine media query */


/***** Impostazioni di stile della sidebar laterale *****/
#sidebar{
	float: right;
	width: 16%;
	background: #1D1D1D; 
	font-size: 0.9em;
	border-radius: 3px;
	padding: 1% 2%;
	margin-top: -0.5%;
}
#sidebar h1{
	color: #33CCFF;
	font-size: 1.2em;
	text-align: center;
	margin: 10% auto;
}
.box{
	background-color: #1E1E1E;
	padding-top: 3%;
	padding-bottom: 1%;
	margin-bottom: 20%; 
}
.effect{
	position: relative;       
    -webkit-box-shadow: 0 1px 4px rgba(256, 256, 256, 0.3), 0 0 40px rgba(256, 256, 256, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(256, 256, 256, 0.3), 0 0 40px rgba(256, 256, 256, 0.1) inset;
    box-shadow: 0 1px 4px rgba(256, 256, 256, 0.3), 0 0 40px rgba(256, 256, 256, 0.1) inset;
}
.effect:before, .effect:after{
	content: "";
    position: absolute; 
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(256,256,256,0.8);
    -moz-box-shadow: 0 0 20px rgba(256,256,256,0.8);
    box-shadow: 0 0 20px rgba(256,256,256,0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}
.effect:after{
	right: 10px; 
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg); 
    -moz-transform: skew(8deg) rotate(3deg);     
    -ms-transform: skew(8deg) rotate(3deg);     
    -o-transform: skew(8deg) rotate(3deg); 
    transform: skew(8deg) rotate(3deg);
}
#sidebar li{
	position: relative;
	list-style-type: none;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2%;
	padding-bottom: 5%;
}
#sidebar a{
	color: #FFFFFF;
	font-style: italic;
}
#sidebar a:hover{
	font-weight: bold;
	font-size: 1.1em;
}

/***** Impostazione sidebar per mobile *****/
@media only screen and (max-width: 959px){
#sidebar{ 
    clear: both;
    float: none;
    display: block;
    width: 90%;
    text-align: center;
    margin: 1em auto;
}
#topNews{
    padding: 0.5em;
    margin-bottom: 0;
}
#sidebar h1{
	margin: 5% auto;
}
#sidebar ol{
    list-style-type: none;
    padding: 3%;
}
#sidebar li {
    padding: 1%;
}
.box{
	margin-bottom: 5%;
}
} /* Fine media query */


/***** Impostazioni stile del contenuto eventi *****/
.evento{
	width: 90%;
    list-style-type: none;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px;
    padding: 1%;
    margin: 2% auto 4% auto;
}
.evento h2{
	padding-bottom: 0.5%;
}
.evento h2 a{
	color: #000000;
	text-decoration: none;
}
.evento h2 a:hover{
	text-decoration: underline;
}
.Intestazione{
    float: left;
    width: 8%;
    text-align: center;
    background-color: #550000;
    color: #FFFFFF;
    margin-right: 0.4%;
}
.Intestazione .giorno{
    display: block;
    font-size: 3em;
    line-height: 0.9em;
}
.Intestazione .mese{
    display:block;
    font-size:1.2em;
    line-height: 0.9em;
}
.Intestazione .anno{
    display: block;
    font-size: 1.2em;
    line-height: 1.8em;
}
.dettagli img.thumbnail{
    width: 90%; 
}
.dettagli div.imgcontainer{
    max-height: 200px;
    overflow: hidden;
    resize: none;
}
.info span{
    font-weight: bold;
}

/***** Impostazione eventi per mobile *****/
@media only screen and (max-width: 1000px){
.Intestazione{
    float: none;
    clear: both;
    width: 90%;
    margin: 0 auto 0.5%;
}
.evento p{
    width: 90%;
    margin: 2% auto;
}
} /* Fine media query */


/***** Impostazioni stile del piede *****/
#footer{
	clear: both;
	background-color: #45484D;
	text-align: center;
	color: #FFFFFF;
	padding: 1%;
}
#footer a{
	color: #33CCFF;
}



/********** Impostazioni stile CSS per Amministratore ***********************/

.common_box{
    width: 60%;
    text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 5px 3px;
    padding: 1%;
    margin: 5% auto;
}
.common_box label{
	display: block;
    font-size: 1.8em;
    font-weight: bold;
}
.common_box input[type="text"], .common_box input[type="password"], .common_box input[type="file"], .common_box textarea{
    display: block;
    width: 50%;
    border: 2px solid;  
    box-shadow: 0px 0px 2px 2px;
    line-height: 1em;
    font-size: 2em;
    text-align: center;
    margin: 3% auto;
}
.common_box input[type="file"]{
    font-size: 1.3em;
}
.common_box input[type="submit"]{
    line-height: 1em;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 2px 2px;
    padding: 0.3em 0.8em;
    margin: 10% auto;
}
.common_box p, .common_box a{
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    margin: 2% auto;
}
.common_box fieldset{
    border: 0;
}
.common_box a{
    color: #00F;
}
.common_box a:hover{
    text-decoration: underline;
}











